<div class="col-md-6">
  <a href="{{ card.link }}" class="card-link">
    <div class="card bg-danger-subtle mt-4">
      <img src="{{ card.image }}" class="card-img-top" alt="{{ card.title }} image">
      <div class="cta-section">
        <span class="btn btn-custom-{{ card.type | downcase }}">{{ card.type }}</span>
      </div>
      <div class="card-body">
        <div class="text-section">
          <h2 class="card-title fw-bold">{{ card.title }}</h2>
          <p class="card-text">{{ card.description }}</p>
        </div>
      </div>
    </div>
  </a>
</div>
