$bg-color: #f8f5ee;
$font-family: "Barlow", sans-serif;
$font-size: 100%;
$orange: #e77429;
$green: #24b292;
$dark-orange: #e77429;
$brown: #b47235;
$yellow: #fab544;
$white: #fff2e4;
$grey: dimgrey;
$dark: #333;
$black: #212529;
$light-grey: #898989;

body {
  background-color: $bg-color;
  font-size: $font-size;
  font-family: $font-family;
}

h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

h2 {
  font-size: x-large;
}

.navbar {
  height: 80px;
  position: relative;
}

.navbar-brand, .card {
  display: flex;
  height: 100%;
}

.navbar-brand {
  margin-top: 35px;
  padding: 0 1rem;
  font-size: 30px;
}

.orange-text, .nav-line {
  color: $orange;
}

.nav-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $orange;
}

.hero-container, .hero-content, .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  flex-direction: column;
  h1 {
    font-size: 50px;
    color: $dark;
    text-align: center;
  }
}

.hero-list {
  font-size: 18px;
  text-align: left;
  list-style-position: inside;
  margin-right: 10px;
  padding-right: 10px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.green-text {
  margin-top: 30px;
  color: $green;
}

.btn-block, .btn-custom-live, .btn-custom-self-paced, .btn-custom-interactive, .btn-custom-tools {
  border-width: 3px;
  color: $dark;
}

.btn-block {
  border-color: $orange;
}

.btn-custom-live {
  background-color: $green;
  border-color: $green;
}

.btn-custom-self-paced {
  background-color: $dark-orange;
  border-color: $dark-orange;
}

.btn-custom-interactive {
  background-color: $brown;
  border-color: $brown;
}

.btn-custom-tools {
  background-color: $yellow;
  border-color: $yellow;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 32em;
  flex-basis: calc(50% - 1em);
  flex-direction: row;
  background-color: $white;
  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 1em;
  border-radius: 15px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f9ce9f;
  }
}

.card-custom {
  color: $white;
}

.card-title {
  margin-top: 10px;
}

.card.dark {
  color: $white;
}

.card.bg-light-subtle {
  .card-title {
    color: $grey;
  }
}

.card img {
  max-width: 35%;
  margin: auto;
  padding: 0.8em;
  border-radius: 20px;
}

.card-body {
  .text-section {
    .card-text {
      margin-top: 0;
    }
  }
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;

  &:hover {
    color: $black; // Change to the desired color
    text-decoration: none;
  }
}

.card .btn {
  position: absolute;
  top: 80%;
  left: 17%;
  transform: translate(-50%, -50%);
}

.text-section {
  max-width: 100%;
}

.cta-section {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;

  .btn {
    padding: 0.1em 0.5em;
  }
}

.card.bg-light-subtle {
  .cta-section {
    .btn {
      background-color: $light-grey;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
}

.custom-button {
  padding: 10px 20px;
  background-color: $bg-color;
  color: $black;
  border: 3px solid $yellow;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px #fab44468;
  width: 150px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f9ce9f;
  }
  
}


@media screen and (max-width: 767px) {
  .hero-image {
    max-width: 100%;
  }
  .navbar-brand {
    max-width: 100%;
    font-size: medium;
  }
  .hero-content {
    h1 {
      font-size: 40px;
    }
    margin-top: 50px;
  }
  .hero-list {
    text-align: left;
  }
  .card {
    font-size: smaller;
    max-width: 90%;
  }
  .custom-button, .btn-custom-brown, .btn-custom-green, .btn-custom-orange, .btn-custom-yellow {
    font-size: smaller;
  }
  .custom-button {
    padding: 5px 10px;
  }
  .button-container {
    gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  .hero-image {
    width: 400px;
    height: 570px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1024px){
  .allcards {
    margin-left: 170px;
  }
}

@media screen and (min-width: 1280px){
  .allcards {
    margin-left: 40px;
  }
}