@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  color: rgb(var(--foreground-rgb));
}
