@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@bitcoin-dev-project/bdp-ui/styles.css";
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --brand-card-bg: #EFE9DE; 
    --brand-green:#0E9158;
    --brand-dark-100:#201E1E;
    --brand-orange-100:#EB5234;
    --brand-light-100:#F6F0E6;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera-mini */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
}

.prose {
    max-width: unset;
}

@keyframes smoothBlink {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

.animate-smooth-blink {
    animation: smoothBlink 1s ease-in-out infinite;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-2px);
    }
}

.animate-float {
    animation: float 1s ease-in-out infinite;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  background-clip: content-box !important;
  -webkit-text-fill-color: #000000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
