@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --brand-card-bg: #EFE9DE; 
    --brand-green:#0E9158;
}

body {
    color: rgb(var(--foreground-rgb));
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera-mini */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

@keyframes shimmer {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite;
}

.prose {
    max-width: unset;
}

@keyframes smoothBlink {
    0%,
    100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

.animate-smooth-blink {
    animation: smoothBlink 1s ease-in-out infinite;
}
