<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/main.css">
  <title>Bitcoin Knowledge Project</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg ">
        <h1 class="navbar-brand"><span class="orange-text">Bitcoin</span>&nbsp;Knowledge Project</h1>
        <div class = "nav-line"></div>
      </nav>
  <div class="container">
    <h1 class="text-center mt-4">Guided Content</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Mogashni_Mo_an_illustration_of_a_road_abstrat_style_orange_and__5fda2cff-a649-4cac-98f7-c891e7297675 2.png" class="card-img-top" alt="...">
          <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Mastering Bitcoin</h2>
              <p class="card-text">Foundational book we recommend reading before diving deeper.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Mogashni_Mo_A_drawing_of_a_laptop_with_blocks_coming_out_of_it__5854c6dd-14c0-493d-8190-b6c3693e49f0 1.png" class="card-img-top" alt="...">
          <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Bitcoin Development</h2>
              <p class="card-text">Take a no-cost 6 week seminar on bitcoin & lightning protocol development.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_3_students_sitting_behind_a__48781353-3ff1-4ccf-ad4b-ea27e87cadc5.png" class="card-img-top" alt="...">
          <div class="cta-section">
              <a href="#" class="btn btn-dark">Live</a>
            </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Chaincode Seminars</h2>
              <p class="card-text">Learn our Bitcoin & Lightning dev seminar content at your own pace.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_transactions_happening_in_a__c17b79fb-2cd5-485d-aeca-ed2f46313121.png" class="card-img-top" alt="...">
          <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Lightning Development</h2>
              <p class="card-text">Take a no-cost 6 week seminar on lightning development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <h1 class="text-center mt-4">Other learning resources</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="card bg-danger-subtle mt-4">
              <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_transactions_happening_in_a__c17b79fb-2cd5-485d-aeca-ed2f46313121.png" class="card-img-top" alt="...">
              <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
              <div class="card-body">
                <div class="text-section">
                  <h2 class="card-title fw-bold">Onboarding to Bitcoin Core</h2>
                  <p class="card-text">A comprehensive onboarding guide to Satoshi Nakamoto’s bitcoin implementation.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-danger-subtle mt-4">
              <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_a_teacher_in_a_class_abstract_2_2c529b0b-767b-4f2a-9ed4-fad7aec396e5 1.png" class="card-img-top" alt="...">
              <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
              <div class="card-body">
                <div class="text-section">
                  <h2 class="card-title fw-bold">Transaction Tutorial</h2>
                  <p class="card-text">A technical tutorial for understanding how bitcoin transactions are created and signed.</p>
                </div>
                <div class="cta-section">
                  <a href="#" class="btn btn-dark">Self-paced</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-danger-subtle mt-4">
              <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_philosophical_thought_abstra_86206466-8c2f-41b1-a77c-3b9699415971 1.png" class="card-img-top" alt="...">
              <div class="cta-section">
              <a href="#" class="btn btn-dark">interactive</a>
            </div>
              <div class="card-body">
                <div class="text-section">
                  <h2 class="card-title fw-bold">Bitcoin Dev Philosophy</h2>
                  <p class="card-text">A guide for developers to gain a deeper understanding of Bitcoin’s design trade-offs and philosophy.</p>
                </div>
                <div class="cta-section">
                  <a href="#" class="btn btn-dark">Self-paced</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-danger-subtle mt-4">
              <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_of_a_dice_abstract_2D_style_bur_4c2dbbf7-d88c-4d42-a8c1-27ceaba753c0 1.png" class="card-img-top" alt="...">
              <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
              <div class="card-body">
                <div class="text-section">
                  <h2 class="card-title fw-bold">Try Bitcoin</h2>
                  <p class="card-text">An interactive bitcoin tutorial for orange-pilled beginners.</p>
                </div>
                <div class="cta-section">
                  <a href="#" class="btn btn-dark">Self-paced</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card bg-danger-subtle mt-4">
              <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_of_the_roots_of_a_tree_abstract_219a359a-bb22-4de0-a0f8-b25221b9ccb5 1.png" class="card-img-top" alt="...">
              <div class="cta-section">
              <a href="#" class="btn btn-dark">Self-paced</a>
            </div>
              <div class="card-body">
                <div class="text-section">
                  <h2 class="card-title fw-bold">Schorr Taproot Workshop</h2>
                  <p class="card-text">A technical introduction to Schnorr and Taproot.</p>
                </div>
                <div class="cta-section">
                  <a href="#" class="btn btn-dark">Self-paced</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
            <h1 class="text-center mt-4">Learning Tools</h1>
            <div class="row">
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_a_bookshelf_with_many_books__185edcc5-3b38-43ca-a407-a08c565585ca.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">BTC Transcripts</h2>
                      <p class="card-text">Peruse archives of transcribed talks, podcasts, and lectures.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_a_person_searching_with_a_micro_286e1a2f-b6e8-42e6-9c28-11490c461e03 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">Bitcoin Search</h2>
                      <p class="card-text">The technical bitcoin search engine we deserve.</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              </div>

        <div class="container">
            <h1 class="text-center mt-4">Coming Soon</h1>
            <div class="row">
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_a_chinese_astronaut_abstract_2D_6e7d2ca0-6799-4aa4-9f9f-3295fd2bcfe6 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">Saving Satoshi</h2>
                      <p class="card-text">An interactive science fiction story designed to inspire a generation to fall in love with bitcoin.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_A_drawing_of_a_house_abstract_2D_style_burnt_orange_ca63d95f-d587-424a-a6a9-9c9061185a36 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">In Person Residency</h2>
                      <p class="card-text">A life-changing bitcoin focused educational experience..</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_an_abstract_drawing_of_a_book_with_writing_in_it_so_ae7dedd8-ca9a-4c27-8469-e5ae7a45179a 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">BTC Transcript Editing</h2>
                      <p class="card-text">Contribute to BTC Transcripts by reviewing AI-generated copy.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_of_two_people_talking_to_each_o_bb54c4f5-f0e0-4bcc-bdf9-58b843bb4826 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">ChatBTC</h2>
                      <p class="card-text">Interact with our chatbot trained on tons of technical bitcoin insights.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_of_a_lightbulb_burnt_orange_and_92c7bbba-827c-4b17-a8c0-9b9d28b06e66 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">CColighter</h2>
                      <p class="card-text">Highlight, save, and discuss ideas over nostr.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card bg-danger-subtle mt-4">
                  <img src="../assets/img/Mogashni_Mo_An_abstract_drawing_of_a_person_reading_a_newspaper_6bf39940-099d-4be2-8dd8-702a86b7ab5c (1) 1.png" class="card-img-top" alt="...">
                  <div class="cta-section">
                      <a href="#" class="btn btn-dark">Self-paced</a>
                    </div>
                  <div class="card-body">
                    <div class="text-section">
                      <h2 class="card-title fw-bold">Bitcoin Feed</h2>
                      <p class="card-text">AI generated summary of bitcoin-dev and lightning-dev mailing lists as someone should be reading it.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
