<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doer Global</title>
  <link rel="stylesheet" href="../assets/main.css" />

</head>

<body>
  <header>
    <nav>
      <div class="nav-text">
        <h2><span class="orange-text">Bitcoin</span> Knowledge project</h2>
      </div>
      <div class="nav-line"></div>
    </nav>
  </header>

  <section class="header">
    <div class="left-content">
      <h1>Your <span class="orange-text">technical</span></h1>
      <h1>Bitcoin rabbit hole.</h1>
      <h1><span class="green-text">Simplified</span></h1>
      <p class="para">
        Live & self-paced education <br>
        Tools to explore & play with technical ideas<br>
        Resources for historic decisions in Bitcoin<br>
      </p>
      <div class="button">
        <button>Learn</button>
        <button>Use Our Tools</button>
      </div>
    </div>
    <div class="hero-image">
    </div>
  </section>

  <div class="container">
    <div class="headings">
      <h1>Guided Content</h1>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Mastering Bitcoin</h2>
          <p class="excerpt">Foundation book we recommend<br> reading before diving deeper.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Bitcoin Development</h2>
          <p class="excerpt">Take a no cost 6 week seminar on<br> bitcoin and Lighting protocol<br> Development.</p>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Chaincode Seminars</h2>
          <p class="excerpt">Learn our bitcoin and Lighting dev<br> seminar content at your own pace</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Lighting Development</h2>
          <p class="excerpt">Take a 6 week seminar on Lighting Development</p>
        </div>
      </div>
    </div>
    <div class="headings">
      <h1>Other Learning Resources</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Mastering Bitcoin</h2>
          <p class="excerpt">Foundation book we recommend<br> reading before diving deeper.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Bitcoin Development</h2>
          <p class="excerpt">Take a no cost 6 week seminar on<br> bitcoin and Lighting protocol<br> Development.</p>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Mastering Bitcoin</h2>
          <p class="excerpt">Foundation book we recommend<br> reading before diving deeper.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Bitcoin Development</h2>
          <p class="excerpt">Take a no cost 6 week seminar on<br> bitcoin and Lighting protocol<br> Development.</p>
        </div>
      </div>
    </div>

    <div class="alone">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Mastering Bitcoin</h2>
          <p class="excerpt">Foundation book we recommend<br> reading before diving deeper.</p>
        </div>
      </div>
    </div>

    <div class="headings">
      <h1>Learning Tools</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Mastering Bitcoin</h2>
          <p class="excerpt">Foundation book we recommend<br> reading before diving deeper.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Bitcoin Development</h2>
          <p class="excerpt">Take a no cost 6 week seminar on<br> bitcoin and Lighting protocol<br> Development.</p>
        </div>
      </div>
    </div>

    <div class="headings">
      <h1>Coming Soon</h1>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Saving Satoshi</h2>
          <p class="excerpt">An Interactive science fiction <br> story designed to inspire a <br> generation to fall in love with <br> bitcoin.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>In Person <br> Residency</h2>
          <p class="excerpt">A life-changing bitcoin focused <br> educational experience.</p>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>BTC Transcript <br> Editing</h2>
          <p class="excerpt">Contribute to BTC Transcripts by  <br> reviewing AI-generated copy.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>ChatBTC</h2>
          <p class="excerpt">Interact with our chatbot trained  <br> on tons of technical bitcoin <br> insights.</p>
        </div>
      </div>
    </div>

    <div class="card-wrapper">
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Colighter</h2>
          <p class="excerpt">Highlight, save, and discuss ideas over nostr.</p>
        </div>
      </div>
      <div class="card">
        <div class="img-container">
          <button class="card-button">Button</button>
        </div>
        <div class="card-content">
          <h2>Bitcoin Feed</h2>
          <p class="excerpt">AI generated summary of the bitcoin-dev and lightning-dev mailing lists because someone should be reading it.</p>
        </div>
      </div>
    </div>
  </div>


</body>

</html>