<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="{{ site.meta_charset }}">
    <meta name="viewport" content="{{ site.meta_viewport }}">
    <link rel="stylesheet" href="{{ site.bootstrap_stylesheet }}">
    <link rel="stylesheet" href="{{ site.custom_stylesheet }}">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"
</head>

<body>
  <nav class="navbar navbar-expand-lg ">
    <h1 class="navbar-brand"><span class="orange-text">Bitcoin</span>&nbsp;Knowledge Project</h1>
    <div class="nav-line"></div>
  </nav>

  <div class="container">
    <div class="row hero-container text-center">
      <div class="col-md-6 hero-content">
        <h1>Your <span class="orange-text">technical</span> <br>bitcoin rabbit hole</h1>
        <h1><span class="green-text">Simplified.</span></h1>
        <div class="hero-list">
          <ul>
            <li>Live & self-paced education</li>
            <li>Tools to explore & play with technical ideas</li>
            <li>Resources for historic decisions in Bitcoin</li>
          </ul>
        </div>
        <div class="button-container">
          <button class="custom-button">Learn</button>
          <button class="custom-button">Use Our Tools</button>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <img src="../assets/img/hero.png" alt="Hero Image" class="hero-image">
      </div>
    </div>
  </div>

<div class="allcards">
  <div class="container">
    <h1 class="text-center mt-4">Guided Content</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/House-Drawing-Orange-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Mastering Bitcoin</h2>
              <p class="card-text">Foundational book we recommend reading before diving deeper.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Laptop-Blocks-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Bitcoin Development</h2>
              <p class="card-text">Take a no-cost 6 week seminar on bitcoin & lightning protocol development.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Students-Sitting-Behind-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-green">Live</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Chaincode Seminars</h2>
              <p class="card-text">Learn our Bitcoin & Lightning dev seminar content at your own pace.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Transaction-Flow-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Lightning Development</h2>
              <p class="card-text">Take a no-cost 6 week seminar on lightning development.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="text-center mt-4">Other learning resources</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Person-Boarding-Boat-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Onboarding to Bitcoin Core</h2>
              <p class="card-text">A comprehensive onboarding guide to Satoshi Nakamoto's bitcoin implementation.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Teacher-Class-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Transaction Tutorial</h2>
              <p class="card-text">A technical tutorial for understanding how bitcoin transactions are created and
                signed.</p>
            </div>
            <div class="cta-section">
              <a href="#" class="btn btn-custom-orange">Self-paced</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Philosophical-Thought-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">interactive</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Bitcoin Dev Philosophy</h2>
              <p class="card-text">A guide for developers to gain a deeper understanding of Bitcoin's design
                trade-offs and philosophy.</p>
            </div>
            <div class="cta-section">
              <a href="#" class="btn btn-custom-orange">Self-paced</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Dice-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Try Bitcoin</h2>
              <p class="card-text">An interactive bitcoin tutorial for orange-pilled beginners.</p>
            </div>
            <div class="cta-section">
              <a href="#" class="btn btn-custom-brown">Interactive</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Tree-Roots-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Schorr Taproot Workshop</h2>
              <p class="card-text">A technical introduction to Schnorr and Taproot.</p>
            </div>
            <div class="cta-section">
              <a href="#" class="btn btn-custom-orange">Self-paced</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h1 class="text-center mt-4">Learning Tools</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Bookshelf-With-Books-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-yellow">Tools</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">BTC Transcripts</h2>
              <p class="card-text">Peruse archives of transcribed talks, podcasts, and lectures.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Person-Searching-Micro-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-yellow">Tools</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Bitcoin Search</h2>
              <p class="card-text">The technical bitcoin search engine we deserve.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1 class="text-center mt-4">Coming Soon</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Chinese-Astronaut-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-brown">Interactive</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Saving Satoshi</h2>
              <p class="card-text">An interactive science fiction story designed to inspire a generation to fall in
                love with bitcoin.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/House-Drawing-Orange-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-green">Live</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">In Person Residency</h2>
              <p class="card-text">A life-changing bitcoin focused educational experience..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Book-Writing-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">BTC Transcript Editing</h2>
              <p class="card-text">Contribute to BTC Transcripts by reviewing AI-generated copy.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Two_people_talking.png" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">ChatBTC</h2>
              <p class="card-text">Interact with our chatbot trained on tons of technical bitcoin insights.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Lightbulb-Orange-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Colighter</h2>
              <p class="card-text">Highlight, save, and discuss ideas over nostr.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-danger-subtle mt-4">
          <img src="../assets/img/Person-Reading-Newspaper-Abstract.png" class="card-img-top" alt="...">
          <div class="cta-section">
            <a href="#" class="btn btn-custom-orange">Self-paced</a>
          </div>
          <div class="card-body">
            <div class="text-section">
              <h2 class="card-title fw-bold">Bitcoin Feed</h2>
              <p class="card-text">AI generated summary of bitcoin-dev and lightning-dev mailing lists as someone should be reading it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
